<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.iav3.iatracking">
  
  <!-- Internet permission required for API synchronization -->
  <uses-permission android:name="android.permission.INTERNET" />
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
  
</manifest>